<section class="text-center py-12 sm:py-20 px-4 sm:px-6 bg-gradient-to-b from-black to-slate-900">
  <h1 class="text-4xl sm:text-5xl font-extrabold text-white mb-4">Bienvenido a <span class="text-red-600">Absurdo Box</span></h1>
  <p class="text-lg sm:text-xl text-gray-300 max-w-2xl mx-auto mb-8">
    Comparte tu forma de pensar respondiendo una pregunta. Las mejores ideas a veces vienen de lo más absurdo.
  </p>

  <button
  (click)="scrollToForm()"
  class="bg-red-500 hover:bg-red-400 text-white font-bold px-6 py-3 rounded-lg shadow-md transition-transform duration-300 transform hover:scale-105 animate-pulse"
>
  🎁 ¡Abrir el cofre!
</button>

</section>
